<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>submenu2</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <form (submit)="selectFolder($event)">
            <label>เลือกโฟลเดอร์</label>
            <select class="form-control" id="folder">
              <option value="A">A:/</option>
              <option value="B">B:/</option>
              <option value="C">C:/</option>
              <option value="D">D:/</option>
              <option value="E">E:/</option>
              <option value="F">F:/</option>
              <option value="G">G:/</option>
            </select>
            <input type="submit" class="btn btn-primary" value="submit">
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
        <div class="col-6">
          <nb-card>
            <nb-card-body>
        <table border="1">
          <tr>
            <td>No.</td>
            <td>EnNo</td>
            <td>Name</td>
            <td>DateTime</td>
          </tr>
          <tr *ngFor="let allFin of allFin; let i = index;">
            <td>{{allFin.No}}</td>
            <td>{{allFin.EnNo}}</td>
            <td>{{allFin.Name}}</td>
            <td>{{allFin.DateTime}}</td>
          </tr>
        </table>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-6">
          <nb-card>
            <nb-card-body>
        <table border="1">
          <tr>
            <td>No.</td>
            <td>EnNo</td>
            <td>Name</td>
            <td>DateTime</td>
          </tr>
          <tr *ngFor="let allFin2 of allFin2; let i = index;">
            <td>{{allFin2.No}}</td>
            <td>{{allFin2.EnNo}}</td>
            <td>{{allFin2.Name}}</td>
            <td>{{allFin2.DateTime}}</td>
          </tr>
        </table>
            </nb-card-body>
          </nb-card>
        </div>
</div>

