<div class="row">
  <div class="col-md-12" *ngFor="let user of users; let i = index">
    <nb-card>
      <nb-card-header>ประวัติส่วนตัว</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-3" align="center">
            <img src="{{ hostUrl }}storage/app/{{user.emp_img}}" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12"> <h1> {{ user.emp_nickname }} </h1> </div>
              <div class="col-md-12"> <h4> {{ user.emp_name }} {{ user.emp_lastname }} </h4> </div>
              <br><br><br>

              <div class="col-md-4"> <h4> วันเกิด : {{ user.emp_birthday }} </h4> </div>
              <div class="col-md-4"> <h4> น้ำหนัก : {{ user.emp_weight }} </h4> </div>
              <div class="col-md-4"> <h4> ส่วนสูง : {{ user.emp_height }} </h4> </div>

              <div class="col-md-12"> <h4> ที่อยู่ : {{ user.emp_address }} </h4></div>
              <br><br><br>

              <div class="col-md-12"> <h4> เบอร์โทรติดต่อ : {{ user.user_id }} </h4>(ใช้ในการ login เข้าระบบ)</div>
              <br><br><br>

              <div class="col-md-12"> <hr> </div>
              <div class="col-md-6">
                <div class = "row">
                <div class="col-6">
                  รูปร่าง
                </div>
                <div class="col-6">
                  <ngb-rating [(rate)]="starRate" max=5 (change)="changeStar()">
                    <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <!--i class="ion-android-star" *ngIf="fill === 100"></i-->
                      <img src="assets/icon/circle_green.png" width="20" height="20" *ngIf="fill === 100">
                      <img src="assets/icon/circle_gray.png" width="20" height="20" *ngIf="fill !== 100">
                      &nbsp;
                      <!--i class="ion-android-star-outline" *ngIf="fill !== 100"></i-->
                    </span>
                    </ng-template>
                  </ngb-rating>
                </div>

                <div class="col-6">
                  หน้าตา
                </div>
                <div class="col-6">
                  <ngb-rating [(rate)]="starRate2" max=5>
                    <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <img src="assets/icon/circle_green.png" width="20" height="20" *ngIf="fill === 100">
                      <img src="assets/icon/circle_gray.png" width="20" height="20" *ngIf="fill !== 100">
                      &nbsp;
                    </span>
                    </ng-template>
                  </ngb-rating>
                </div>

                <div class="col-6">
                  การทำงาน
                </div>
                <div class="col-6">
                  <ngb-rating [(rate)]="starRate3" max=5>
                    <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <img src="assets/icon/circle_green.png" width="20" height="20" *ngIf="fill === 100">
                      <img src="assets/icon/circle_gray.png" width="20" height="20" *ngIf="fill !== 100">
                      &nbsp;
                    </span>
                    </ng-template>
                  </ngb-rating>
                </div>

                <div class="col-6">
                  ปฏิสัมพันธ์
                </div>
                <div class="col-6">
                  <ngb-rating [(rate)]="starRate4" max=5>
                    <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <img src="assets/icon/circle_green.png" width="20" height="20" *ngIf="fill === 100">
                      <img src="assets/icon/circle_gray.png" width="20" height="20" *ngIf="fill !== 100">
                      &nbsp;
                    </span>
                    </ng-template>
                  </ngb-rating>
                </div>

              </div>
              </div>
              <div class="col-md-6">
                starRate1 = {{starRate}} <br>
                starRate2 = {{starRate2}} <br>
                starRate3 = {{starRate3}} <br>
                starRate4 = {{starRate4}} <br>
                sumRate = {{sumRate}} <br>
                avestarRate = {{avestarRate}} <br>
              </div>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--{{ user | json }}-->
<!--{{ users | json }}-->
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>ตารางการทำงาน (table)</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>