
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        หน้าแรก (เลือกทีหลัง)

        <toaster-container [toasterconfig]="config"></toaster-container>
        <button class="btn btn-primary" (click)="makeToast()">Show toast</button>

      </nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>


</div>
