<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>ตั่งค่าแทค</nb-card-header>
      <nb-card-body>
        <div class="row" *ngFor="let Employee of Employees; let i = index">
          <div class="col-lg-2">
            <nb-action>
              <nb-user name=" {{ Employee }} "></nb-user>
            </nb-action>
          </div>
          <div class="col-lg-8">
              <div class="icon-toolbar-container">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.one">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.one">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.one,
                      'ion-checkmark-round' : !iconToolbarModel.one}">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.two">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.two">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.two,
                      'ion-checkmark-round' : !iconToolbarModel.two}">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.three">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.three">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.three,
                      'ion-checkmark-round' : !iconToolbarModel.three}">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.four">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.four">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.four,
                      'ion-checkmark-round' : !iconToolbarModel.four}">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.five">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.five">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.five,
                      'ion-checkmark-round' : !iconToolbarModel.five}">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.six">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.six">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.six,
                      'ion-checkmark-round' : !iconToolbarModel.six }">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.seven">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.seven">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.seven,
                      'ion-checkmark-round' : !iconToolbarModel.seven }">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.eight">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.eight">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.eight,
                      'ion-checkmark-round' : !iconToolbarModel.eight}">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.nine">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.nine">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.nine,
                      'ion-checkmark-round' : !iconToolbarModel.nine }">
                    </i>
                  </label>
                  <label ngbButtonLabel class="btn btn-success" [class.active]="iconToolbarModel.ten">
                    <input ngbButton type="checkbox" [(ngModel)]="iconToolbarModel.ten">
                    <i [ngClass]="{
                      'ion-close-round' : iconToolbarModel.ten,
                      'ion-checkmark-round' : !iconToolbarModel.ten }">
                    </i>
                  </label>
                </div>
            </div>
          </div>
          <div class="col-lg-1">
            <div class="icon-button-examples">
              <button type="button" class="btn btn-primary btn-icon">
                <i class="nb-shuffle"></i>
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

